p{
    background-color: brown;
    margin: 0px;
    font-size: 85px;
    text-align: center;
    width: 100px;
}

#p1{

}

#p2{
    /* transform: translate(50px,100px); */
    transform: rotateX(180deg);
}